<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKhoHangGiay.Properties.Settings.QLKhoConnectionString"
            connectionString="Data Source=DESKTOP-IPE3AH4\SQLEXPRE;Initial Catalog=QLKho;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyKhoHangGiay.Properties.Settings.QuanLyKhoConnectionString"
            connectionString="Data Source=.\SQLEXPRE;Initial Catalog=QuanLyKho;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>